*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #2c2c2c;
  line-height: 1.6;
  background-image: url('../src/assets/img/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
